.netmarbleStore{
  width: 100vw;
  min-width: 1400px;
  nav{
    width: 100%;
    height: 105px;
    padding: 0 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    .logoImg{
      padding: 10px;
      img{cursor: pointer;}
    }
    .rightMenu{
      display: flex;
      align-items: center;
      >ul{
        li{
          cursor: pointer;
          a{
            margin-right: 50px;
          }
        }
      }
      .userMenu{
        display: flex;
        li{
          cursor: pointer;
          margin-right: 30px;
          img{}
          .hoverMenu{
            ul{
              display: none;
              &:hover{
                display: block;
              }
              li{
                
                a{
                  
                }
              }
            }
          }
        }
      }
    }
  }
  .slideBox{
    position: relative;
    .Swiper{
      .SwiperSlide{
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
          text-align: center;
          cursor: pointer;
        }
      }
    } 
  }

  //상품 section영역
  section{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: #fff;
    padding: 80px;
    box-sizing: border-box;
    h2{
      margin-bottom: 50px;
      color: #252525;
      font-size: 30px;
      font-weight: 500;

    }
    .goodsBox{
      ul{
        display: flex;
        justify-content: center;
        li{
          margin: 0 15px;
          .goodsImg{
            position: relative;
            &:hover .goodsHoverIcon > img{
              display: block;
            }
            img{
              width: 100%;
              height: 100%;
              border-radius: 15px;
              cursor: pointer;
            }
            .goodsHoverIcon{
              display: flex;
              align-items: center;
              justify-content: center;
              
              img{
                position: absolute;
                bottom: 10%;
                width: 40px;
                height: 40px;
                margin: 0 5px;
                cursor: pointer;
                display: none;
                z-index: 888;
              }
              
              
              .hi01{left: 35%;}
              .hi02{left: 55%;}
            }
          }
          .goodsTxt{
            padding-left: 5px;
            margin-top: 10px;
            cursor: pointer;
            p{
              margin-bottom: 5px;
              font-size: 18px;
            }
            b{
              color: #333;
              font-size: 15px;
            }
            img{
              margin-top: 10px;
              display: block;
              width: 45px;
              height: 20px;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
  #md{
    width: 100%;
    height: 100%;
    background-color: gainsboro;
  }
  #friends{}
  #kungya{}
  #knights{}
  #eventBanner{}


  //footer
  footer{}
}