.storebanner {
  width: 100%;
  height: 800px;
  overflow: hidden; // 스크롤 방지
  .storeSlider-container {
    position: relative;
    width: 100%;
    height: 100%;
    .slides {
      display: flex;
      width: 100%;
      height: 100%;
      transition: transform 0.5s ease-in-out;
      .slide {
        min-width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        //텍스트요소
        .text-overlay {
          text-align: left;
          color: white;
          padding: 20px;
          border-radius: 10px;
          margin-right: 350px;

          h3 {
            font-size: 3.2rem;
            margin-bottom: 10px;
          }

          p {
            font-size: 1.2rem;
          }
        }
      }
    }
    /* 네비게이션 버튼 */
    .nav-button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background: rgba(0, 0, 0, 0.5);
      color: white;
      border: none;
      padding: 10px;
      font-size: 1.5rem;
      cursor: pointer;
      transition: background 0.3s;

      &:hover {
        background: rgba(0, 0, 0, 0.8);
      }

      &.left {
        left: 20px;
      }

      &.right {
        right: 20px;
      }
    }
    /* 페이지네이션 스타일 */
    .pagination {
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      gap: 8px;
    
      .dot {
        width: 12px;
        height: 12px;
        background: gray;
        border-radius: 50%;
        cursor: pointer;
        transition: background 0.3s;
    
        &.active {
          background: white;
        }
      }
    }
  }
}

